body {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 17px;
  line-height: 20px;
  position: relative;

}

.scrollup {
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  width: 39px;
  height: 39px;
  border-radius: 5px;
  font-size: 33px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  border: 1px solid #fff;
  display: none;
  background: #FECE1A;
  z-index: 99999;
}

.fade {
  animation: fadeIn 0.7s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: translate3d(0, -15px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/* buttons*/

.button-sp {
  border: none;
  background-color: #FECE1A;
  color: #181A1C;
  padding: 15px 30px;
  font-size: 17px;
  &:visited, &:focus {
    border: none;
    background-color: #FECE1A;
    color: #181A1C;
    padding: 15px 30px;
    font-size: 17px;
  }
  &:hover, &:active {
    background-color: #181A1C;
    color: #FECE1A;
  }
}

/* buttons-end*/

/* title*/

.title {
  border-bottom: 1px solid #FFF;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  h2 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    font-size: 38.5px;
    font-weight: 400;
  }
  p {
    padding: 10px;
    font-size: 20px;
  }
}

/* title-end*/
/* triangle*/

.triangle {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 0;
  height: 0;
  border-top: 0px solid #181A1C;
  border-left: 470px outset transparent;
  border-right: 470px outset transparent;
  margin-top: 0px;
  opacity: 1;
  transition: all .95s ease;
  animation: fadeIn 1s ease-in both;
  &.triangle-show {
    margin-top: 0;
    opacity: 1;
  }
  &.triangle-hide {
    margin-top: -30px;
    display: none;
  }
}

.triunghi-bot-hide {
  margin-top: (-30px) !important;
  display: none;
}

/* triangle -END*/

/* navbar*/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #181A1C;
  margin-bottom: 0px;
  height: 70px;
  border-radius: 0px;
  transition: all .5s ease;
  z-index: 99999;

  &.slideDown {
    position: fixed;
  }
  .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
  }
  .nav {
    position: relative;
    left: 0;
    display: block;
    margin: 0 10px 0 0;
    float: right;
    > li {
      display: inline-block;
      line-height: 20px;
    }
  }
}

.navbar-inner {
  background: #181A1C;
  border-radius: 0;
  filter: none;
  border: none;
  box-shadow: none;
}



.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar .nav {
  > li > a {
    text-transform: uppercase;
    line-height: auto;
    vertical-align: middle;
    margin: 10px 3px;
    border: 1px solid #181A1C;
    box-shadow: none;
    font-size: 15px;
    text-shadow: none;
    color: #fff;
    transition: border-color 1s ease;
  }
  .active {
    border: 1px solid #FECE1A;
    color: #fff;
    background-color: #181A1C;
    transition: border-color 1s ease;
  }
  > {
    li:hover > a {
      border: 1px solid #FECE1A;
      color: #fff;
      background-color: #181A1C;
      transition: border-color 1s ease;
    }
    .active > a {
      border: 1px solid #FECE1A;
      color: #fff;
      background-color: #181A1C;
      transition: border-color 1s ease;
      &:focus {
        border: 1px solid #FECE1A;
        color: #fff;
        background-color: #181A1C;
        transition: border-color 1s ease;
      }
    }
  }
}

.nav > li > a {
  &:focus, &:hover {
    text-decoration: none;
    background-color: transparent;
  }
}

/* navbar -END*/

/* home-section*/

#home .slider {
  width: 100%;
  min-width: 320px;
  height: 520px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("https://ivkovic.me/themes/pluton/images/Slider.jpg");
  background-size: auto 100%;
  transition: background-position 1s ease-out 0.3s;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FECE1A;
  opacity: 0.85;
}

#home {
  .slide {
    h2 {
      font-size: 33px;
      font-weight: bold;
      text-transform: uppercase;
      color: black;
    }
    h4 {
      text-transform: uppercase;
      font-size: 22px;
      color: black;
    }
    p {
      font-size: 17px;
      font-weight: 400;
      color: #fff;
    }
    a {
      border: 1px solid black;
      color: black;
      background-color: transparent;
      padding: 15px 30px;
      text-decoration: none;
      position: absolute;
      margin: 20px 0px;
      &:hover {
        background-color: #181A1C;
        color: #fff;
      }
    }
  }
  .slick-slider {
    height: 100%;
  }
  .slick-list {
    height: 90%;
  }
  .slick-track {
    top: 20%;
    left: 15%;
  }
}

.arrows {
  list-style: none;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
  .prev {
    position: absolute;
    top: 40%;
    left: 10%;
  }
  .next {
    position: absolute;
    top: 40%;
    right: 10%;
  }
  i {
    border: solid white;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 40px;
  }
  .right {
    -webkit-transform: rotate(-45deg);
  }
  .left {
    transform: rotate(13s5deg);
    -webkit-transform: rotate(135deg);
  }
}

#home .slick-dots {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  li {
    display: inline-block;
    max-height: 4px;
    overflow: hidden;
    width: 54px;
    background-color: white;
    width: 50px;
    height: 20px;
    margin-left: 10px;
  }
  .slick-active {
    background-color: black;
  }
  li button {
    display: none;
  }
}

/* home-section -END*/

/* service-section*/

#service {
  position: relative;
  color: #FECE1A;
  background: #181A1C;
  padding-bottom: 50px;
  z-index: 9999;
  .title p {
    color: #FECE1A;
  }
}

.centered {
  text-align: center;
  p {
    color: white;
  }
}

.img-circle {
  width: 150px;
  height: 150px;
  border: 2px solid white;
}

#service .zoom-in {
  transition: all 250ms ease;
  &:hover {
    -webkit-transform: scale(1.1, 1.1);
  }
}

.fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* service-section -END*/

/* portfolio-section*/

#portfolio {
  background: #FECE1A;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 888;
  .title {
    color: black;
    border-bottom: 1px solid black;
  }
  h2 {
    color: black;
  }
}

/* nav-pills*/

.nav-pills {
  padding-bottom: 30px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
  width: 100%;
  position: relative;

  li a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #181A1C;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    &:hover, &:focus {
      text-decoration: none;
      background-color: black;
      color: white;
    }
  }
}

/* nav-pills -END*/

/* thumbnails*/

.thumbnails {
  list-style: none;
  padding-left: 0;
}

.thumbnail {
  border: none;
  border-radius: 0px;
  background-color: #191a1c;
  padding: 0px;
  text-align: center;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease;
  .image {
    overflow: hidden;
    position: relative;
  }
  h3 {
    color: #FECE1A;
    margin-top: 10px;
    font-size: 20px;
  }
  p {
    color: white;
  }
}

.mask2 {
  filter: alpha(opacity = 85);
  top: 100%;
  left: 0;
  background: #181A1C;
  position: absolute;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#portfolio {
  .thumbnail {
    &:hover .mask2 {
      top: 0%;
    }
    a {
      position: absolute;
      z-index: 9999;
      text-decoration: none;
      font-size: 40px;
      text-align: center;
      transform: translateX(-50%);
      bottom: 100%;
      color: white;
    }
    &:hover a {
      bottom: 40%;
      transition: all 0.3s ease;
    }
  }
  .portfolio-triangle {
    border-top: 0px solid #FECE1A;
  }
}

/* thumbnails -END*/

/* about-section*/

#about {
  background: #181A1C;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 777;
  .title p {
    color: #FECE1A;
  }
  .thumbnail {
    border: 1px solid #fff;
  }
}

/* about-section>> team*/

.social {
  list-style: none;
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
    line-height: 32px;
    padding: 0 5px;
    a i {
      color: #181A1C;
      padding: 9px 10px;
      background: #FECE1A;
      border-radius: 50%;
      max-width: 32px;
      max-height: 32px;
      color: #181A1C;
      padding: 9px 10px;
      background: #FECE1A;
      border-radius: 50%;
      max-width: 32px;
      max-height: 32px;
    }
  }
}

#about .thumbnail {
  &:hover li a i {
    color: #FECE1A;
    background: white;
  }
  .about-mask {
    position: absolute;
    top: 100%;
    background-color: #FECE1A;
    width: 100%;
    height: 100%;
    left: 0px;
    transition: all 0.2s ease-out;
    opacity: 0.8;
    h2 {
      margin-top: 20%;
      color: #191a1c;
      font-weight: 600;
    }
    p {
      color: #191a1c;
    }
  }
  &:hover .about-mask {
    top: 0%;
  }
}

.pulse {
  animation: pulse 1s;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}


/* about-section>> team -END*/

/* about-section>> skills*/

#about .about-text {
  margin-top: 30px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
  padding: 0px 15px;
}

#about h3:last-of-type {
  padding-left: 15px;
}

.about-text p {
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
}

.skills {
  list-style-type: none;
  position: relative;
  margin: 0px;
  padding: 0;
  li {
    margin-bottom: 30px;
    background: #FFF;
    height: 40px;
    padding: 1px;
    .bar {
      height: 40px;
      position: absolute;
      background-color: #FECE1A;
      margin-top: -1px;
      -webkit-transition: width 2s;
      width: 0;
    }
    h3 {
      position: relative;
      font-size: 15px;
      padding-top: 10px;
      padding-left: 10px;
      margin: 0;
      z-index: 1;
      color: #181A1C;
    }
    .bar {
      &.bar-progres-80 {
        width: 80%;
      }
      &.bar-progres-95 {
        width: 95%;
      }
      &.bar-progres-68 {
        width: 68%;
      }
      &.bar-progres-70 {
        width: 70%;
      }
    }
  }
}

/* about-section>> skills-end*/

.highlighted-box {
  background: #F4F8F9;
  padding: 20px 30px;
  text-align: center;
  h1, p {
    color: #181A1C;
  }
}

#about .button-sp {
  background-color: #FECE1A;
  color: #181A1C;
  border: none;
}

.button-sp {
  &:visited, &:focus {
    background-color: #FECE1A;
    color: #181A1C;
    border: none;
  }
}

#about .button-sp:hover, .button-sp:active {
  background-color: #181A1C;
  color: #FECE1A;
}

/* about-section -footer*/

.about-foot {
  background: #FECE1A;
  padding: 50px 0px;
  position: relative;
  z-index: 665;
  .centered {
    padding-top: 50px;
  }
  .large-text {
    line-height: 1.2em;
    font-size: 30px;
    color: #181A1C;
    padding: 20px;
    margin-bottom: 20px;
    a {
      color: #181A1C;
      text-decoration: none;
      &:hover {
        color: gray;
        text-decoration: none;
      }
    }
  }
}

.button {
  display: inline-block;
  border: 1px solid #181A1C;
  color: #181A1C;
  background-color: transparent;
  padding: 15px 30px;
  font-size: 17px;
  text-decoration: none;
  &:visited, &:focus {
    display: inline-block;
    border: 1px solid #181A1C;
    color: #181A1C;
    background-color: transparent;
    padding: 15px 30px;
    font-size: 17px;
    text-decoration: none;
  }
}

.about-foot .button:hover, .button:active {
  background-color: #181A1C;
  color: #fff;
  text-decoration: none;
  border: none;
}

.about-foot-triangle {
  border-top: 0px solid #FECE1A;
}

/* about-section -footer*/

/* about-section -END*/

/* clients-section */

#clients {
  background: #181A1C;
  padding: 50px 0px;
  position: relative;
  p {
    color: #FECE1A;
  }
}

.textimonial {
  text-align: center;
}

#clients .testimonial p {
  color: #181A1C;
  background: #FECE1A;
  padding: 15px;
  margin: 0;
}

.testimonial {
  .whopic {
    display: inline-block;
    color: #FECE1A;
  }
  .arrow {
    margin-left: 10px;
    width: 0;
    border-top: 10px solid #FECE1A;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
  }
  .whopic {
    img {
      margin-top: 10px;
      width: 50px;
      height: 50px;
      float: left;
    }
    strong {
      float: left;
      margin-top: 10px;
      padding-left: 10px;
      font-weight: bold;
    }
    small {
      display: block;
      font-size: 12px;
    }
  }
}

#clients .testimonial-text {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 70%;
  line-height: 1.3em;
  color: white;
  padding: 10px;
  font-weight: 100;
  color: #fff;
}

/* clients-second-section -END*/

.second-section {
  padding-bottom: 70px;
  background-image: url(https://ivkovic.me/themes/pluton/images/brand-bg.png);
  background-size: auto 100%;
  transition: background-position 1s ease-out 0.3s;
  border-top: 6px solid #FECE1A;
  margin-top: 30px;
  padding-top: 20px;
  position: relative;
}

.sec-section {
  .title {
    text-align: left;
    margin-top: 30px;
    border-bottom: 1px solid #A1AAB7;
    color: #FECE1A;
    h3 {
      display: inline-block;
      margin: 0px;
    }
  }
  .slick-clients {
    list-style: none;
    padding-left: 25px;
    .client {
      float: left;
      list-style: none;
      position: relative;
      width: 210px;
      margin-right: 25px;
      line-height: 20px;
      img {
        width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        opacity: 1;
        border: 1px solid white;
        &:hover {
          background-color: #FECE1A;
        }
      }
    }
  }
}

.arrows2 {
  list-style: none;
  margin: 0px;
  color: black;
  display: inline-block;
  float: right;
  li {
    float: right;
    margin-left: 10px;
    padding: 5px;
    background: #FECE1A;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    display: inline-block;
    &:hover {
      background-color: black;
    }
    i {
      font-size: 25px;
      font-weight: bold;
      margin-top: -5px;
      padding-left: 3px;
    }
    &:hover i {
      color: #FECE1A;
    }
  }
}

/* clients-second-section -END*/
/* clients-section -END*/
/* price-section */

#price {
  background: #FECE1A;
  padding-top: 50px;
  color: black;
  position: relative;
  .price-column  {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0px 0px 20px 0px;
    width: 31%;
    text-align: center;
    margin: 10px;
    h3 {
      background-color: #181A1C;
      text-transform: uppercase;
      text-align: center;
      color: #FECE1A;
      padding: 40px 0px;
      font-size: 36px;
      margin-top: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 10px 10px 0px 0px;
      border-radius: 10px 10px 0px 0px;
    }
    .list {
      list-style: none;
      margin: 20px 50px;
      li {
        font-weight: lighter;
        color: #747C89;
        font-size: 20px;
        border-bottom: 1px solid #747C89;
        padding: 25px 0px;
      }
      .price {
        text-align: center;
        font-size: 31px;
        background-color: white;
        color: #747C89;
        margin-top: 25px;
      }
    }
    .button-ps {
      border: none;
      background-color: #181A1C;
      color: #FECE1A;
    }
  }
  .button-ps {
    &:hover, &:focus {
      background-color: #FECE1A;
      color: #181A1C;
      text-decoration: none;
    }
  }
  .price-table {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .title {
    border-bottom: 1px solid black;
    h2 {
      color: black;
    }
  }
}



.price-table .button-ps:hover, .button-ps:active {
  color: white;
}

#price {
  .price-text {
    margin: 30px 0 20px;
    font-size: 20px;
    color: #181A1C;
    font-weight: normal;
  }
  .centered .button:hover {
    background-color: #181A1C;
    color: #fff;
    text-decoration: none;
  }
  .second-section .title {
    padding: 0;
    border-bottom: 1px solid #A1AAB7;
    color: #FECE1A;
    h3 {
      float: left;
    }
  }
  .subscribe .text {
    color: white;
    width: 35%;
    margin-right: 50px;
    p {
      color: white;
    }
  }
}

/* price-section */
/* price-subsection */

.subs input {
  margin: 10px 0 px;
  padding: 15px;
  width: 65%;
  height: 50px;
}

#price .sub-button {
  border: none;
  background-color: #FECE1A;
  color: #181A1C;
  padding: 15px 30px;
  font-size: 17px;
  margin-left: 20px;
  &:hover {
    background-color: #FFF;
    color: #181A1C;
    text-decoration: none;
  }
}

/* price-subsection -END*/
/* price-section -END */

/* CONTACT-section -*/

#contact {
  background: #FECE1A;
  padding: 50px 0px;
  position: relative;
  .title {
    border-bottom: 1px solid #181A1C;
    h2 {
      color: black;
    }
  }
}

p {
  color: black;
}

#contact {
  .mapouter {
    position: relative;
  }
  .hello-box {
    width: 380px;
    height: 410px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 30px;
    left: 100px;
    box-shadow: 5px 6px #888888;
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    h3 {
      margin: 10px 0px;
      padding-bottom: 20px;
      font-size: 24.5px;
      font-weight: 400;
      line-height: 40px;
      color: #838589;
    }
    input {
      padding: 10px;
      line-height: 20px;
      height: auto;
      margin-bottom: 20px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #555555;
      vertical-align: middle;
      border-radius: 4px;
      width: 100%;
    }
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.89);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}


textarea {
  padding: 10px;
  line-height: 20px;
  height: auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
}

#contact .button-sp {
  margin: 10px;
  border: 1px solid #747C89;
  color: #747C89;
  background-color: transparent;
  padding: 15px 30px;
  font-size: 17px;
  &:hover {
    background-color: #FECE1A;
  }
}

.contact-info {
  text-align: center;
  font-size: 22px;
  padding-top: 50px;
  p {
    color: white;
    padding-top: 25px;
  }
  .info-mail {
    border: 1px solid white;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    color: #181A1C;
  }
  .title h3 {
    color: #181A1C;
    font-weight: normal;
    font-size: 24.5px;
  }
}

#contact .social {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-left: 0;
  color: #fff;
  list-style: none;
  li {
    line-height: 32px;
    padding: 10px 10px;
    font-family: 'Porta';
    font-size: 30px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
    i {
      background: white;
      color: #FECE1A;
      padding: 5px 37px 36px 6px;
    }
    &:hover i {
      background: black;
    }
  }
}

.footer {
  background: #181A1C;
  text-align: center;
  > p {
    color: #fff;
    margin: 0;
    padding: 10px;
  }
  a {
    color: #FECE1A;
    text-decoration: none;
  }
}

@media screen and (max-device-width: 1024px) {

  .navbar .navbar-toggle {

    display: block!important;
  }


  .triangle {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar {
    .nav {
      margin:0px;
      padding-bottom: 10px;
      >li {
        >a {
          text-align: center;
          padding: 5px;
          margin: 2px;
        }
      }
    }
  }

  .navbar {
    max-width: 100vw;
    .nav {
      > li, &.active {
        display: block;
      }
      width: 100%;
      display: none;
    }
  }
  .navbar-toggle {
    background: #FECE1A;
    &:active {
      display: block;
    }
  }

  .navbar .brand {
    float: none;
  }
  #home {
    .slick-slide img {
      display: none;
    }
    .slide {
      p, a {
        display: none;
      }
      h2 {
        font-size: 18px;
      }
      h4 {
        font-size: 16px;
      }
    }
    .slick-dots {
      padding: 0px;
      li {
        width: 35px;
      }
    }
    .slider {
      height: 180px;
    }
  }
  #portfolio .nav-pills li a {
    padding: 0 10px;
  }
  #price {
    .price-column {
      width: auto;
    }
    .subscribe {
      .text {
        width: 100%;
        text-align: center;
      }
      .subs {
        text-align: center;
      }
    }
  }
  #contact .hello-box {
    left: 5px;
    width: 300px;
  }
  .contact-info .info-mail {
    width: 80%;
  }
}
